.p-carousel {
    padding-top: 0.03rem;
    object-fit: cover;
}

.i-carousel {
    object-fit: cover;
    height: 75vh;
}

.carousel-caption {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(78, 78, 78, 0.68) 30%, rgba(28, 28, 28, 0.68) 50%, rgba(78, 78, 78, 0.68) 70%, rgba(255, 255, 255, 0) 100%);
}

.p-5 {
    font-size: x-large;
}

.carousel-inner{
    opacity: 0.9;
    padding-right: 8rem;
    padding-left: 8rem;
}


@media(max-width:780px){
    .carousel-inner{
        opacity: 0.9;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}