.patientDashboardSection{
    height: 100vh;
}

#userDisplay{
    height: 30%;
    background-color: black;
}

.circleProfile{
    border-radius: 100%;
    background-color: grey;

}

#profileName{
    color:white
}

Link{
    text-decoration: none;
}

#addText{
    color: white;

}
#addText i{
    font-size: larger;
}