@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
#registerSection{
    padding: 0;
    margin: 0;
    background: rgb(30,24,139);
    background: linear-gradient(75deg, rgba(30,24,139,1) 0%, rgba(222,0,255,1) 100%);
}

#customRegister{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnSubmit{
    font-weight: bolder;
    border-color: none;
    color: #DCD6F7;
    background-color: #091ba2;
}

#btnSubmit:hover{
    background-color: #DCD6F7;
    color: #091ba2;
}

#card{
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: -3px 3px 10px black;
}

#form{
    padding-top: 1%;
}

#vr{
    height: 90%;
}